@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #46000D, #5E0009, #720137, #590054, #42002E);
    background-size: 400% 400%; /* Réduit la taille de l'arrière-plan pour un effet plus subtil */
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.login-wrapper {
    perspective: 1000px;
}

.login-card {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    position: relative;
    transition: transform 1s ease;
}

.login-card:hover {
    transform: rotateY(10deg);
}


.login-title {
    text-align: center;
    color: #924a07;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #924a07;
}

.input-icon-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #924a07;
    cursor: pointer;
}

.login-form input[type='text'],
.login-form input[type='email'],
.login-form input[type='password'] {
    width: calc(85% - 2rem); 
    margin: auto; 
    padding: 1rem;
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    border-radius: 2rem;
    border: none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.login-form input[type='password'] {
    padding-right: 2.5rem; 
}



.login-form input[type='text']:focus,
.login-form input[type='email']:focus,
.login-form input[type='password']:focus {
    outline: none;
    box-shadow: 0 0 0 2px #924a07; 
}

.login-button {
    display: block;
    width: 100%; 
    margin: auto; 
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #924a07; 
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}
.login-button:hover {
    background-color: #3F51B5; 
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
}

.login-footer a {
    color: #5C6BC0;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

